@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@1,700&display=swap');

/* css for body */

body {
    background-image: url(https://github.com/UniversityOfDundee-Computing/CW2-api_mashup/blob/main/book.jpg?raw=true) ;
  background-size:cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Work Sans', sans-serif;
}

/* css for inside */

.inside{
  padding: 0 30% ;
}

/* css for color */

.bg-color{
 background-color: rgba(243, 247, 191, 0.4);
 border: 2px solid rgb(5, 5, 5, 0.5);
 box-shadow: 0 10px 20px rgba(0,0,0,0.8);
}

/* css for button */

.button {
  background-color: #6B705C;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  height: 1cm;
  width: auto;
  box-shadow: 0 10px 20px rgba(0,0,0,1);
}
/* css for heading */


.heading{
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  border-bottom: 2px solid #6B705C;
  border-width: medium;
}
footer{
   
    height: 100px;
}
.containe{
    background-color: rgb(86, 88, 88);
    
}
.git{
   width:fit-content;
   margin: auto;
    
}
.column{
    width: fit-content;
    margin: auto;
}
@media (max-width: 767px) {
    .column{
        margin-left: 250px;
    }
    
}


body {
  margin-bottom:50px;
}
