@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
    background-image: url(https://github.com/UniversityOfDundee-Computing/CW2-api_mashup/blob/main/book.jpg?raw=true);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}

input {
  color: #ADD8E6; /* pastel color for the text */
  background-color: #FFFACD; /* pastel color for the input field */
  
}

.bg-color{
  background-color: #FEFFEA;
}

.box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,50%);
}

.button {
  background-color: #6B705C;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  height: 1cm;
  width: auto;
}

.text{
  font-size: x-large;
}

.center {
  text-align-last: center;
  border: 2px solid black;
}
#navbar{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: #FEFFEA;
  opacity: 0.8;

}

